<a href="https://colab.research.google.com/github/aniket15031998/Pyhton-coding-parctice-and-Some-IMP-questions/blob/main/Pyhton_coding_parctice_and_Some_IMP_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SOME BASIC IMP CODING QUESTIONS**

In [ ]:
def check_palindrome(string):
  cleaned_string="".join(char.lower() for char in string if char.isalnum())
  if cleaned_string==cleaned_string[::-1]:
    return 'Palindrome'
  else:
    return 'Not Plaindrome'

input_string=str(input())
check_palindrome(input_string)

A man, a plan, a canal, Panama!

'Palindrome'

In [ ]:
def count_character(string):
  char_count={}
  for char in string:
    if char in char_count:
      char_count[char]+=1
    else:
      char_count[char]=1

  return char_count

string=str(input())
count_character(string)

Hello, World! This is a sample sentence.

{'H': 1,
 'e': 5,
 'l': 4,
 'o': 2,
 ',': 1,
 ' ': 6,
 'W': 1,
 'r': 1,
 'd': 1,
 '!': 1,
 'T': 1,
 'h': 1,
 'i': 2,
 's': 4,
 'a': 2,
 'm': 1,
 'p': 1,
 'n': 2,
 't': 1,
 'c': 1,
 '.': 1}

In [ ]:
def reverse_words(sentence):
  words=sentence.split()
  reverse_words=words[::-1]
  new_sentence=" ".join(reverse_words)
  return new_sentence

sentence=str(input())
reverse_words(sentence)

Hello, World! This is a sample sentence.

'sentence. sample a is This World! Hello,'

In [ ]:
def remove_vowels(sentence):
  vowels="aeiouAEIOU"
  new_sentence="".join(char for char in sentence if char not in vowels)
  return new_sentence

sentence=str(input())
remove_vowels(sentence)

Hello, World! This is a sample sentence.

'Hll, Wrld! Ths s  smpl sntnc.'

In [ ]:
def capital_first_letter(sentence):
  words=sentence.split(" ")
  new_sentence=" ".join(word.title() for word in words)
  return new_sentence

sentence=str(input())
capital_first_letter(sentence)

Hello, World! This is a sample sentence.

'Hello, World! This Is A Sample Sentence.'

In [ ]:
def check_anagram(string1,string2):
  string1=string1.replace(" ","").lower()
  string2=string2.replace(" ","").lower()

  for i,j in zip(string1,string2):
    if i not in string2 and j not in string2:
      return "Not Anagram"
    else:
      return "Anagram"
string1=str(input())
string2=str(input())

check_anagram(string1,string2)

listen
silent

'Anagram'

In [ ]:
def check_anagram(string1,string2):
  string1=string1.replace(" ","").lower()
  string2=string2.replace(" ","").lower()

  if sorted(string1)==sorted(string2):
    return "Anagram"
  else:
    return "Not Anagram"

string1=str(input())
string2=str(input())

check_anagram(string1,string2)

listen
silent

'Anagram'

In [ ]:
#Implement a program to remove duplicates from a list.
def remove_duplicates(lst):
  char_cnt={}
  for i in range(len(lst)):
    if lst[i] in char_cnt:
      char_cnt[lst[i]]+=1
    else:
      char_cnt[lst[i]]=1
  return list(char_cnt.keys())

lst=eval(input())
remove_duplicates(lst)

[1,2,3,4,5,1,2,3]

[1, 2, 3, 4, 5]

In [ ]:
#Implement a program to remove duplicates from a list.
def remove_duplicates(lst):
  return list(set(lst))

lst=eval(input())
remove_duplicates(lst)

[1,2,3,4,5,1,2,3]

[1, 2, 3, 4, 5]

In [ ]:
#Create a function that returns the second-largest element in a list.
def second_largest(lst):
  char_cnt={}
  for i in range(len(lst)):
    if lst[i] in char_cnt:
      char_cnt[lst[i]]+=1
    else:
      char_cnt[lst[i]]=1

  unique_list=list(char_cnt.keys())
  unique_list.sort()
  return unique_list[-2]

lst=eval(input())
second_largest(lst)

[1,2,3,4,5,1,2,3]

4

In [ ]:
#Write a function to find the sum of all elements in a list.
def sum(lst):
  sum=0
  for i in lst:
    sum+=i

  return sum

lst=eval(input())
sum(lst)

[1,2,3,4,5,1,2,3]

21

In [ ]:
#Write a function to find the sum of all elements in a list.
def product(lst):
  product=1
  for i in lst:
    product=product*i

  return product

lst=eval(input())
product(lst)

[1,2,3,4,5,1,2,3]

720

In [ ]:
#Create a function that returns the elements that appear more than once in a list.
def second_largest(lst):
  char_cnt={}
  for i in range(len(lst)):
    if lst[i] in char_cnt:
      char_cnt[lst[i]]+=1
    else:
      char_cnt[lst[i]]=1

  ans=[char for char,cnt in char_cnt.items() if cnt>1]
  return ans

lst=eval(input())
second_largest(lst)

[1,2,3,4,5,1,2,3]

[1, 2, 3]

In [ ]:
#Create a function that returns the elements that appear only once in a list.
def second_largest(lst):
  char_cnt={}
  for i in range(len(lst)):
    if lst[i] in char_cnt:
      char_cnt[lst[i]]+=1
    else:
      char_cnt[lst[i]]=1

  ans=[char for char,cnt in char_cnt.items() if cnt==1]
  return ans

lst=eval(input())
second_largest(lst)

[1,2,3,4,5,1,2,3]

[4, 5]

In [ ]:
#Write a program to merge two sorted lists into a new sorted list.
def merge_lists(list1,list2):
  list1.sort()
  list2.sort()
  new_list=list1+list2
  new_list.sort()
  return new_list

list1=eval(input())
list2=eval(input())
merge_lists(list1,list2)

[1,2,3,4,5,1,2,3]
[1, 2, 3]

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 5]

In [ ]:
#Implement a function to check if a list is sorted in ascending order.
def check_order(lst):
  i=0
  while i < len(lst)-1:
    if lst[i]>lst[i+1]:
      return "not ascending"
      break
    i+=1
  else:
    return "ascending"

lst=eval(input())
check_order(lst)

[1,2,3,4,5,1,2,3]

'not ascending'

In [ ]:
def add_sub_elements(list1,list2):
  new_list=[]
  for i,j in zip(list1,list2):
    if i>j:
      new_list.append(tuple((i+j,i-j)))
    else:
      new_list.append(tuple((i+j,-(i-j))))
  return new_list

list1=[1,2,3,4,5,6]
list2=[6,7,8,9,10,0]
add_sub_elements(list1,list2)

[(7, 5), (9, 5), (11, 5), (13, 5), (15, 5), (6, 6)]

**TUPLES**

In [ ]:
tuple_input=(2, 8, 3, 5, 1, 7, 4)
print(len(tuple_input))

7

In [ ]:
def max_min(tuple_input):
  if len(tuple_input)==0:
    return None,None

  max_element=min_element=tuple_input[0]
  for element in tuple_input:
    if element>max_element:
      max_element=element
    elif element<min_element:
      min_element=element
  return max_element,min_element

tuple_input=(2, 8, 3, 5, 1, 7, 4)
max_min(tuple_input)

(8, 1)

In [ ]:
def max_min(list_input):
  if len(list_input)==0:
    return None,None

  max_element=min_element=list_input[0]
  for element in list_input:
    if element>max_element:
      max_element=element
    elif element<min_element:
      min_element=element
  return max_element,min_element

list_input=[2, 8, 3, 5, 1, 7, 4]
max_min(list_input)

(8, 1)

In [ ]:
#Create a function that returns the unique elements from a tuple.
def remove_duplicates(tuple_input):
  char_cnt={}
  for i in range(len(tuple_input)):
    if tuple_input[i] in char_cnt:
      char_cnt[tuple_input[i]]+=1
    else:
      char_cnt[tuple_input[i]]=1
  return tuple(char_cnt.keys())

tuple_input=eval(input())
remove_duplicates(tuple_input)

(1,2,2,3,4,4,5,5)

(1, 2, 3, 4, 5)

In [ ]:
#Create a function that returns the unique elements from a tuple.
def remove_duplicates(tuple_input):
  return tuple(set(tuple_input))

tuple_input=eval(input())
remove_duplicates(tuple_input)

(1,2,2,3,4,4,5,5)

(1, 2, 3, 4, 5)

In [ ]:
#Write a program to concatenate two tuples.
def combine_tuples(tuple1,tuple2):
  return tuple1+tuple2

tuple1=(1,2,2,3,4,4,5,5)
tuple2=(1, 2, 3, 4, 5)
combine_tuples(tuple1,tuple2)

(1, 2, 2, 3, 4, 4, 5, 5, 1, 2, 3, 4, 5)

In [ ]:
def sum_tuple(tuple_input):
  string="".join(str(i) for i in tuple_input)
  if string.isnumeric():
    sum=0
    for i in tuple_input:
      sum+=i
    return sum
  else:
    return "Error: Non-numeric tuple"

tuple_input1=(1,2,'a',3,4,4,5,5)
tuple_input=(1,2,3,4,4,5,5)
sum_tuple(tuple_input1)

'Error: Non-numeric tuple'

In [ ]:
sum_tuple(tuple_input)

24

In [ ]:
#Implement a program to unzip a list of tuples.
def unzip_list_of_tuples(list_of_tuples):
    # Use the zip function with * operator to unzip the list of tuples
    unzipped = zip(*list_of_tuples)

    # Convert the unzipped result into separate lists
    result_lists = [list(element) for element in unzipped]

    return result_lists

# Example usage:
list_of_tuples = [(1, 'one'), (2, 'two'), (3, 'three')]
unzipped_result = unzip_list_of_tuples(list_of_tuples)

print("List of Tuples:", list_of_tuples)
print("Unzipped Result:", unzipped_result)

List of Tuples: [(1, 'one'), (2, 'two'), (3, 'three')]
Unzipped Result: [[1, 2, 3], ['one', 'two', 'three']]

In [ ]:
#Write a function to convert a list of tuples into a dictionary.
def list_of_tuples_to_dict(list_of_tuples):
    result_dict = dict(list_of_tuples)
    return result_dict

# Example usage:
list_of_tuples = [(1, 'one'), (2, 'two'), (3, 'three')]
result = list_of_tuples_to_dict(list_of_tuples)

print("List of Tuples:", list_of_tuples)
print("Resulting Dictionary:", result)

List of Tuples: [(1, 'one'), (2, 'two'), (3, 'three')]
Resulting Dictionary: {1: 'one', 2: 'two', 3: 'three'}

In [ ]:
#Write a function to convert a tuple of tuples into a dictionary.
def tuple_of_tuples_to_dict(tuple_of_tuples):
    result_dict = dict(tuple_of_tuples)
    return result_dict

# Example usage:
tuple_of_tuples = [(1, 'one'), (2, 'two'), (3, 'three')]
result = tuple_of_tuples_to_dict(tuple_of_tuples)

print("tuple_of_tuples:", tuple_of_tuples)
print("Resulting Dictionary:", result)

tuple_of_tuples: [(1, 'one'), (2, 'two'), (3, 'three')]
Resulting Dictionary: {1: 'one', 2: 'two', 3: 'three'}

**String**

**Explain the difference between the find() and index() methods for strings.**

The find() and index() methods in Python are both used to find the index of a substring within a string, but they differ in how they handle situations when the substring is not found.

**find() Method:**

Syntax: str.find(sub[, start[, end]])
1.  The find() method searches for the specified substring (sub) in the given string (str).
2. If the substring is found, it returns the lowest index of the first occurrence of the substring.
3. **If the substring is not found, it returns -1.**
4. It can also take optional start and end arguments to specify the search range.

In [ ]:
sentence = "Hello, World!"
index = sentence.find("World")
index2 = sentence.find("How")
print(index)
print(index2)

7
-1

**index() Method:**

Syntax: str.index(sub[, start[, end]])
The index() method is similar to find() in that it searches for the specified substring.

If the substring is found, it returns the lowest index of the first occurrence of the substring.

If the substring is not found, it raises a ValueError.

Like find(), it can take optional start and end arguments.

1.   The index() method is similar to find() in that it searches for the specified substring.
2.   If the substring is found, it returns the lowest index of the first occurrence of the substring.
3.  **If the substring is not found, it raises a ValueError.**
4.   Like find(), it can take optional start and end arguments.

In [ ]:
sentence = "Hello, World!"
index = sentence.index("World")
print(index)

7

In [ ]:
sentence = "Hello, World!"
index2 = sentence.index("How")
print(index2)

ValueError: ignored

In [ ]:
my_list = [1, 2, 3, 4]

# Using insert() to add the value 5 at index 2
my_list.insert(7, [2,5])

print("Updated List:", my_list)

Updated List: [1, 2, 3, 4, [2, 5]]

Difference between **insert,append,extend** methods

**insert**

It takes two arguments
first should be an integer which is treated as index where the second argument which treated as single element will be inserted.

**IMP**
if index is out of range the the element is added at last of the list.
**second argument is treated as single element even if we provide as list,tuple or string and is added as one element**
**It updates the original list without giving any output**
eg:

In [ ]:
l1=[1,1,2,3]
l1.insert(1,4)
print(l1)

l2=[1,6,8,"a"]
l2.insert(2,[2,5])
print(l2)

l3=[1,6,8,"a"]
l3.insert(2,(2,5))
print(l3)

l4=[1,6,8,"a"]
l4.insert(2,"aniket")
print(l4)

l5=[1,6,8,"a"]
l5.insert(5,8)#index out of index-range
print(l5)

[1, 4, 1, 2, 3]
[1, 6, [2, 5], 8, 'a']
[1, 6, (2, 5), 8, 'a']
[1, 6, 'aniket', 8, 'a']
[1, 6, 8, 'a', 8]

**Append**

It takes only one argument and adds it at the last of the list which is treated as only one single element

It updates the original list and do not give any output

In [ ]:
l1=[1,1,2,3]
l1.append(4)
print(l1)

l2=[1,6,8,"a"]
l2.append([2,5])
print(l2)

l3=[1,6,8,"a"]
l3.append((2,5))
print(l3)

l4=[1,6,8,"a"]
l4.append("aniket")
l4

[1, 1, 2, 3, 4]
[1, 6, 8, 'a', [2, 5]]
[1, 6, 8, 'a', (2, 5)]

[1, 6, 8, 'a', 'aniket']

**Extend**

It is used to add more than one element at the end of the list.

It takes argument as a list,tuple,string,set which extracts the values from these groups and adds in the end as individual elements

It updates the original list and do not give any output

**IMP - It does not take single integer as an argument**

In [ ]:
l1=[1,1,2,3]
l1.extend([4])
print(l1)

l2=[1,6,8,"a"]
l2.extend([2,5])
print(l2)

l3=[1,6,8,"a"]
l3.extend((2,5))
print(l3)

l4=[1,6,8,"a"]
l4.extend("aniket")
l4

[1, 1, 2, 3, 4]
[1, 6, 8, 'a', 2, 5]
[1, 6, 8, 'a', 2, 5]

[1, 6, 8, 'a', 'a', 'n', 'i', 'k', 'e', 't']

**Difference between sorted() and sort()**

**Key Differences:**

sorted() returns a new sorted list, leaving the original iterable unchanged.

sort() sorts the elements of the list in place, modifying the original list.

If maintaining the original order is important, use sorted().

If you want to modify the existing list directly, use sort().

**Syntax: sorted(iterable, key=None, reverse=False)**

**Syntax: list.sort(key=None, reverse=False)**

In [ ]:
tuple1=42, #single element tuple can be writtten as this
type(tuple1)

tuple

In [ ]:
tuple2=42,3
type(tuple2)

tuple

In [ ]:
def check_even(lst):
  ans=[]
  for i in lst:
    if i >= 2:
      for j in range(2,i+1):
        if i%j!=0:
            ans.append(i)

  return list(set(ans))

lst=[9,8,7,6,5,4,3,2,1,0]
check_even(lst)

[3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Python program to display all the prime numbers within an interval
lst=[9,8,7,6,5,4,3,2,1]
ans=[]
for num in lst:
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           ans.append(num)

ans

[7, 5, 3, 2]

In [ ]:
def check_prime(lst):
  ans=[]
  for num in lst:
    if num > 1:
      for i in range(2,num):
        if num%i==0:
          break
      else:
        ans.append(num)

  return ans

lst=[9,8,7,6,5,4,3,2,1]
check_prime(lst)

[7, 5, 3, 2]

In [ ]:
def check_prime(start,end):
  ans=[]
  for num in range(start,end+1):
    if num > 1:
      for i in range(2,num):
        if num%i==0:
          break
      else:
        ans.append(num)

  return ans

start,end=1,20
check_prime(start,end)

[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
def rev_words(sentence):
  return " ".join(word[::-1] for word in sentence.split())

sentence='Hello World'
rev_words(sentence)

'olleH dlroW'

In [ ]:
def check_palindrome(input_list):
  ans=[]
  for word in input_list:
    if word==word[::-1]:
      ans.append(word)

  return list(set(ans))

input_list = ['radar', 'level', 'python', 'madam', 'hello', 'racecar', 'civic']
check_palindrome(input_list)

['racecar', 'civic', 'madam', 'radar', 'level']

In [ ]:
def perfect_square(numbers):
  ans=[]
  for i in numbers:
    if (int(i)**0.5)**2==i:
      ans.append(i)

  return ans

numbers = [4, 9, 16, 25, 7, 12, 1, 0]
perfect_square(numbers)

[4, 9, 16, 25, 1, 0]

In [ ]:
def common_list(list1,list2):
  ans=set(list1).intersection(set(list2))

  return list(ans)

list1 = [1, 2, 3, 4, 5, 6]
list2 = [4, 5, 6, 7, 8, 9]
common_list(list1,list2)

[4, 5, 6]

In [ ]:
def count_vowel(string):
  vowels='aeiou'
  vowels_cnt={}
  for i in vowels:
      vowels_cnt[i]=string.lower().count(i)

  return vowels_cnt

string = "Python is an amazing programming language"
count_vowel(string)

{'a': 6, 'e': 1, 'i': 3, 'o': 2, 'u': 1}

In [ ]:
def new_dic(lst):
  new_list=[word.lower() for word in lst]
  unique_list=list(set(new_list))
  dicts={}
  for word in unique_list:
    dicts[word]=len(word)

  return dicts

lst = ['apple', 'banana', 'kiwi', 'orange', 'grape','Grape']
new_dic(lst)

{'apple': 5, 'orange': 6, 'banana': 6, 'kiwi': 4, 'grape': 5}

In [ ]:
def count_vowels(lst):
  vowels='aeiou'
  ans=[]
  for word in lst:
    sum=0
    for i in vowels:
      sum=sum+word.lower().count(i)
    if sum>3:
      ans.append(word)
  return ans

lst = [
    'hello',
    'programming',
    'python',
    'data science',
    'algorithm',
    'ai',
    'neural network'
]

count_vowels(lst)

['data science', 'neural network']

In [ ]:
def cum_sum(numbers):
  ans=[]
  sum=0
  for i in range(len(numbers)):
    sum+=numbers[i]
    ans.append(sum)
  return ans

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
cum_sum(numbers)

[1, 3, 6, 10, 15, 21, 28, 36, 45]

In [ ]:
def anagram(string_list):
  anagram_group={}
  for word in string_list:
    sorted_word="".join(sorted(word))
    if sorted_word in anagram_group:
      anagram_group[sorted_word].append(word)
    else:
      anagram_group[sorted_word]=[word]

  return [tuple(group) for group in anagram_group.values() if len(group) > 1]

string_list = ['listen', 'silent', 'python', 'hello', 'nap', 'pan', 'debit card', 'bad credit']
anagram(string_list)

[('listen', 'silent'), ('nap', 'pan'), ('debit card', 'bad credit')]

In [ ]:
def check_prime(num_list):
  prime_list=[]
  for num in num_list:
    if num > 1:
      for i in range(2,num):
        if num%i==0:
          break
      else:
          prime_list.append(num)

  return prime_list

num_list = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 4, 8, 12, 15, 21]
check_prime(num_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
def check(string_list):
  dic={}
  for word in string_list:
    length=len(word)
    if length in dic:
      dic[length].append(word)
    else:
      dic[length]=[word]

  max_length=max(dic.keys())
  return dic[max_length]

string_list = ['apple', 'banana', 'kiwi', 'orange', 'grape', 'pineapple', 'watermelon', 'strawberry']
check(string_list)

['watermelon', 'strawberry']

In [ ]:
def find_max_length_strings(string_list):
    max_length = max(len(word) for word in string_list)
    result = [word for word in string_list if len(word) == max_length]
    return result

# Example usage:
string_list = ['apple', 'banana', 'kiwi', 'orange', 'grape', 'pineapple', 'watermelon', 'strawberry']
result = find_max_length_strings(string_list)
print(result)

['watermelon', 'strawberry']

In [ ]:
def unique_strings(string_list):
  return list(set(string_list))

string_list = ['apple', 'banana', 'kiwi', 'orange', 'grape', 'apple', 'kiwi', 'watermelon', 'banana']
unique_strings(string_list)

['apple', 'banana', 'grape', 'watermelon', 'orange', 'kiwi']

In [ ]:
def pair_anagram(word_list):
  ans={}
  for word in word_list:
    sorted_word=''.join(sorted(word))
    if sorted_word in ans:
      ans[sorted_word].append(word)
    else:
      ans[sorted_word]=[word]

  return [tuple(value) for value in ans.values() if len(value)>1]

word_list = ['listen', 'silent', 'python', 'hello', 'nap', 'pan', 'debit card', 'bad credit']
pair_anagram(word_list)

[('listen', 'silent'), ('nap', 'pan'), ('debit card', 'bad credit')]

In [ ]:
def find_anagram_pairs(words):
    ans = {}
    for word in words:
        sorted_word = ''.join(sorted(word))
        if sorted_word in ans:
            ans[sorted_word].append(word)
        else:
            ans[sorted_word] = [word]

    return [tuple(pair) for value in ans.values() for pair in combinations(value, 2) if len(value) > 1]

# Import the combinations function from itertools
from itertools import combinations

# Example usage:
word_list = ['listen', 'silent', 'python', 'hello', 'nap', 'pan', 'debit card', 'bad credit']
result = find_anagram_pairs(word_list)
print(result)

[('listen', 'silent'), ('nap', 'pan'), ('debit card', 'bad credit')]

In [ ]:
fruits = {'apple', 'banana', 'orange'}
fruits.remove('orange')  # Removes 'banana' from the set
fruits.remove('banana')
fruits

{'apple'}